# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
/venv/
/virtual/
/env/

# React
/dashboard/node_modules/
/dashboard/build/
.pnp
.pnp.js
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*